@import 'variables';

.c-layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light-gray;

    &-logo {
      width: 70px;
      height: 70px;
      cursor: pointer;
    }
  }

  &__navigation {
    margin-left: 20%;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__logout-button,
  &__login-button {
    margin-right: 20%;
  }

  &__content {
    flex: 1 1 auto;
    background-color: $white;
  }
}
